.buttons,
.main .profile {
    display: flex;
    justify-content: center
}

.main .profile {
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    height: 80%;
    text-align: center
}

.profile .profile_inner h1 {
    padding: 12px 0
}

.profile .profile_inner span {
    padding: 10px 0;
    font-size: 18px
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none
}

@media screen and (max-width:600px) {
    .profile img {
        transform: scale(.85)
    }
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform .1s
}

.button-inner {
    padding: 0 8px
}

.button:active {
    transform: scale(.96)
}

.button {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: lighter;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
}
.button:before, .button:after {
  position: absolute;
  content: "";
  display: block;
}
.button:before {
  top: -120px;
  left: 50px;
  z-index: -1;
  width: calc(100% + 140px);
  height: 100px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
  -webkit-transform: skew(70deg);
          transform: skew(70deg);
  background: #ff3366;
}
.button:after {
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #fff;
}
.button:hover:before {
  left: -50px;
  top: -20px;
}